pre-commit==3.3.3
bump2version==1.0.1
codecov==2.1.13
importlib-metadata==6.8.0
pytest==7.4.0
pytest-vcr==1.0.2
sphinx==6.2.1
pytest-cov==4.0.0
sphinx-autobuild==2021.3.14
sphinx_gallery==0.13.0
sphinx_rtd_theme==1.2.2
tox==4.6.4
pip>=19.0
importlib-resources==6.1.0
