codecov==2.0.15
bumpversion==0.5.3
pre-commit==1.21.0
m2r==0.2.1
importlib-metadata==1.3.0
pytest==5.3.2
pytest-vcr==1.0.2
pytest-cov==2.7.1
sphinx==2.3.0
sphinx-autobuild==0.7.1
sphinx_gallery==0.5.0
sphinx_rtd_theme==0.4.3
tox==3.14.2
pip>=19.0
