# This workflow  runs tests for earthpy
# Because we want a conda environment -  and that builds  slower,
# we divided up  tests from linting and docs  to make  for simpler  install envts

name: Run Tests - Matrix OS / Python Version

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  runtests:
    name: conda (${{ matrix.os }}, ${{ matrix.environment-file }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        environment-file: [ci/py36-env.yml, ci/py37-env.yml, ci/py38-env.yml]
        exclude:
          - environment-file: ci/py36-env.yml
            os: windows-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: 'latest'
          channels: conda-forge
          channel-priority: true
          auto-update-conda: false
          auto-activate-base: false
          environment-file: ${{ matrix.environment-file }}
          activate-environment: earthpy-dev
      - run: conda list
      - run: pytest -v --color=yes
